main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0px 80px;
  

}
main .titulo li {
  list-style: none;
  display: flex;
  
}

main .titulo li h1 {
 
    font-size:200px;
    color: #dcff1700;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: rgb(255, 255, 255);
   align-items: flex-start;
   
}
main .titulo li h2{
  
  font-size:200px;
  color: #dcff1700;
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: rgb(255, 255, 255);
 align-items: flex-start;
 
}
main .titulomenor li {
  list-style: none;
 
}
main .titulomenor span{
  margin-top: 10px;
  margin-left: 400PX;
  font-size: 50px;
  color: #dcff1700;
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: rgb(255, 255, 255);
  

}
main h2 {
display: flex;
}
main p {
  font-size: 1.6rem;
  width: 667px;
  font-weight: 200;
  font-family: "Numans", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.lenda {
  display: flex;
}
main .informações {
  list-style: none;
  width: 700px;
  margin-top: 40px;
  margin-left: 150PX;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main .informações li {
  border-right-style: solid;
  border-right-color: red;
  border-right-width: 1px;
  width: 30%;
  color: #fff;
  
}

main .informações li:nth-child(3) {
  border-right-style: none;
}

main .informações li h3 {
  font-style: italic;
  font-size: 1.75rem;
}

main .informações li span {
  font-size: 0.9rem;
}

div > h3 {
  color: crimson;
  font-size: 50px;
  transform: rotate(-90deg);
}



.main a:hover {
  background-color: #000;
  color: white;
  border: 1px solid #dcff17;
}
